* {
    margin: 0;
}
body {
    background-color: rgb(37, 38, 47);
}

input {
    height: 100%;
    width: 100%;
    border: black;
    color: #fff;
    outline: 0;
    font-size: 2rem;
    padding-right: 20px;
    padding-top: 40px;
    text-align: right;
    background: transparent;
}
.cal {
    width: 20%;
    height: 70%;
    border: 2px solid black;
    margin: 90px auto;
    background-image: url("images/IMG_7396.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.first {
    width: 100%;
    height: 30%;
  
}
.second {
    margin: 10px 20px;
    
}
.top {
    
    display: inline-flex;
    gap: 10px;
}
.top > button {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    font-size: 1.5rem; 
    background-color: grey; 
    cursor: pointer;
}

.middle {
    display: flex;
}
.right > button {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    font-size: 1.5rem; 
    background-color: orange; 
    color: #fff;
    cursor: pointer;
}
.right {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    order: 2;
}
.bottom {
    display: inline-block;
    margin-top: 10px;
}
.bottom > * {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    font-size: 1.5rem; 
    background-color: black; 
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}
.sub {
    margin-left: 5px;
}
.diff {
    width: 6.9rem;
    border-radius: 10px;
    text-align: left;
    padding-left: 17px;
}
@media (max-width: 500px) {
    .cal {
        width: 71%;
        height: 78%
    }
}
